<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="SharpDX" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct3D12" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net461" />
</packages>